@import './src/Styles/variables.scss';
.MTS
{
    &Btn{
        min-height: 40px;
        font-family: inherit;
        border-radius: 6px;
        color: inherit;
        margin: 10px;
        line-height: 24px;
        text-align: center;
        min-width: 103px;
        cursor: pointer;
        padding: 8px 24px;
        box-sizing: border-box;
        transition: all .1s;
       
    }
    &Filled{
        border: none;
        font-size: 16px;
        color: #F6F5FE;

        background-color: $color-blue-primary;
        &:hover{
            background-color:$color-blue-light;
            transition: all .3s;

        }
        &:active{
            background-color: $color-blue-dark;
            transition: all .3s;
        }
        &:focus{
            background-color: $color-blue-primary;
            border: 4px solid #E5E5E5;
            outline: none;
            border-radius: 6px;
            box-sizing: inherit;
            transition: all .1s;
        }
        &:disabled{
            background: #E7E5FB;
            border: 2px solid #DCD9FC;
            box-sizing: border-box;
            color:$color-blue-primary;
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    &ghoot{
        border: none;
        background-color: #EFEEFC;
        color: $color-blue-primary;
        &:hover{
           color: #F6F5FE;
           background-color: $color-blue-light;
        }
        &:active{
            background-color: $color-blue-dark;
        }
        &:focus{
            background: linear-gradient(0deg, #EFEEFC, #EFEEFC), $color-blue-primary;
            border: 4px solid rgba(92, 81, 225, 0.2);
            outline: none;
            color: $color-blue-primary;
        }
        &:disabled{
            background: #E7E5FB;
            border: 2px solid #DCD9FC;
            box-sizing: border-box;
            color:$color-blue-primary;
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    &outline{
        color: $color-blue-primary;
        border: 1px solid rgba(92, 81, 225, 0.2);
        background-color: transparent;
        &.MTSbold{
            border: 2px solid rgba(92, 81, 225, 0.2);
        }
        &:hover{
            background-color: $color-blue-light;
            color: #F6F5FE;
        }
        &:active{
            background-color: $color-blue-dark;
            color: #F6F5FE;
        }
        &:focus{
            color: $color-blue-primary;
            outline: none;
            background-color: #EFEEFC;
            border: 4px solid rgba(92, 81, 225, 0.2);;
        }
        &:disabled{
            background: #E7E5FB;
            border: 2px solid #DCD9FC;
            box-sizing: border-box;
            color:$color-blue-primary;
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    &bold{
        font-weight: 500;
    }
    &regular{
        font-weight: normal;
        font-size: 16px;
    }
    &md{
        height: 48px;
        min-width: 119px;
    }
    &lg{
        height: 64px;
        min-width: 119px;
    }
    &sm{
        height: 40px;
        min-width: 109px;
    }
    
}